<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>I'm currently working as a Sofware Developer 🧑🏻‍💻 @
      <a class="underline-link" href="https://www.elekta.com/" target="_blank">Elekta</a> for my first co-op, building medical software with some awesome people. I am studying <strong>Computer Science</strong> @ 
      <a class="underline-link" href="https://cs.uwaterloo.ca/" target="_blank"><span style="color:#eba830">University of Waterloo</span></a><img src="../img/uwatrloo.png" width="200" height="40" alt="UWaterloo"></p>
    <p>I’m interested in creating technologies to solve problems, with the hopes of achieving a more inclusive digital world.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque augue dolor, congue in mollis sed, placerat vitae diam. Aenean vestibulum sit amet augue ac tristique. Phasellus vel dignissim ex, sit amet fringilla lorem. Curabitur porta et lacus vitae porttitor. Vivamus at purus mauris. Vivamus non egestas velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean blandit varius elit ac semper. Mauris eu mi tristique, sollicitudin sem vel, bibendum purus. Vestibulum at magna eu lorem sodales semper vel nec ligula. Nulla facilisi. Nullam sagittis purus ipsum, at varius ligula sodales et. Nam varius lorem et nisi eleifend eleifend. Quisque eget lectus a augue condimentum porta. Integer placerat elit lacus, et tempus lorem condimentum fermentum. Morbi et pulvinar urna.</p>
    <p>When I'm not working on assignments, I'm probably watching a show or movie <br>(rewatches >> first watch) 🎥</p>
    {% include employment-status.html %}
  </div>
</section>
