<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>Hey, welcome to my personal website!</p>
    <p>I am a second-year student studying <strong>Computer Science @</strong> <a class="underline-link" href="https://cs.uwaterloo.ca/" target="_blank">University of Waterloo</a> 📖</p>
    <p>I am currently in my 2B-coop term this Spring, having just completed my 2B study term. I am currently a <strong>Software Engineering Intern 🧑🏻‍💻 @</strong> <a class="underline-link" href="https://www.electrosource.com/" target="_blank">Electro Source</a>, building a time management app with some wonderful people.</p>
    <p>Whether the internet or the outdoors, I love exploring, and I apply this open mindset to my projects. It allows me to solve problems by extracting valuable insights 💡 I’m interested in using my knowledge to create technologies that solve problems.</p>
    <p><strong>When I'm not working on assignments</strong>, I'm probably rewatching a movie or show <br>(rewatches >> first watch) 🎥</p>
    <p>Some of my current interests are the <strong>Stock Market</strong>, <strong>Cryptocurrency</strong>, and the <strong>Blockchain</strong>.</p>
    {% include employment-status.html %}
  </div>
</section>
