<header class="intro">
  <h1 class="intro__hello">Hi there!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h4 class="intro__tagline">
    I'm
    <span class="name">Rohan Minocha</span>, a student, developer, aspiring change-maker.<br>
    💡 An aspiring software developer, I am working towards exploring the intersections surrounding mathematics and economics, hoping to find a place I can call home 🏠
  </h4>
    
  <h1 class="intro__contact">
    <span>Let's get in touch! </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:rminocha@uwaterloo.ca" target="_blank" class="highlight-link">rminocha@uwaterloo.ca</a>
    </span>
  </h1>
</header>
