<header class="intro">
  <h1 class="intro__hello">Hi there!
    <span class="emoji wave-hand animated"></span>
  </h1>
  <h3 class="intro__tagline">
    I'm <span style="color:#eba830" class="name">Rohan Minocha</span>, a student, developer, cofee lover ☕<br>💡 I'm working towards exploring intersections surrounding Mathematics & Software Development, hoping to build my world around it 🌎
  </h3>
  <h1 class="intro__contact">
    <span>Let's get in touch! </span>
    <span class="emoji pointer"></span>
    <span><a href="mailto:mail@rminocha.com" target="_blank" class="highlight-link">mail@rminocha.com</a></span>
  </h1>
</header>
